# Include dist
!dist
!dist/**

# Exclude source code and build scripts
src
build
node_modules
.github
.vscode

# Exclude configuration files
tsconfig.json
tsconfig.*.json
biome.json
knip.json
sheriff.config.ts
.editorconfig
.gitattributes
.gitignore
bun.lockb
package-lock.json

# Exclude documentation and others
CONTRIBUTING.md
CHANGELOG.md
